body,
p,
legend,
input,
select {
    font: normal 10pt 'JetBrains Mono', 'Courier New', Courier, monospace;
}

fieldset {
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid #0568cd;
}

legend {
    font-weight: bold;
    color: #0568cd;
}

form label {
    /* float: left; */
    width: 140px;
    display: inline-block;
    margin: 3px 0px 0px 0px;
}

form input,
form select {
    margin: 3px 3px 0px 0px;
    border: 1px solid #999;
    width: 150px;
}

.requis {
    color: red;
}

/*Tableau*/
table {
    border-collapse: collapse;
}

th {
    color: #0568cd;
    border: 1px solid #0568cd;
    padding: 5px;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

tbody tr:hover {
    background-color: #0568cd;
    color: white;
}

button{
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #0568cd;
    color: #0568cd;
    background-color: #e1f0ffa0;
    transition: 0.2s ease-in-out;
}

button * {
    color: #0568cd !important;
    text-decoration: none; 
}

button:hover{
    background-color: #0568cd;
    color: white;
}


button:hover *{
    color: white !important;
    text-decoration: none ;
}

h3 {
    color: #0568cd;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 2px;
}

.text-center{
    text-align: center;
}

.form-control:focus, .form-select:focus {
    background-color: var(--bs-body-bg);
    border-color: #0568cd;
    outline: 0;
    box-shadow: 0 0 0 .09rem #0568cd;
}

label.required::after{
    content: " *";
    color: red;
}

.btn{
    border-radius: 0px !important;
}

.card-header{
    background-color: #0568cd;
    border-radius: 0px !important;
    color: white;
}

.form-control, .form-select, .card {
    border-radius: 0px !important;
}